################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BaltaCSharp/FileContentIndex/b48e77bd-79cd-4b34-b80a-8b98111b5a36.vsidx
